Django==1.11.1
siphashc3
Whoosh>=2.7.0
translate-toolkit==2.1.0
lxml==3.7.3
Pillow==4.1.1
six==1.10.0
python-dateutil==2.6.0
social-auth-core==1.2.0
social-auth-app-django==1.1.0
django-crispy-forms==1.6.1
oauthlib==2.0.2
django_compressor==2.1.1
djangorestframework==3.6.3
defusedxml==0.5.0
django-appconf==1.0.2
Weblate==2.14.1

pyLibravatar==1.7
python-openid==2.2.5
requests==2.16.5
requests-oauthlib==0.8.0
python-memcached==1.58
Babel==2.4.0
pyuca==1.1.2
